In [1]:
"""Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
Salary(Lakhs) : Tax(%)

Below 5 : 0%
5-10 : 10%
10-20 : 20%
aboove 20 : 30%"""

def calculate_monthly_salary(ctc):
    
    hra_deduction = 0.1 * ctc
    da_deduction = 0.05 * ctc
    pf_deduction = 0.03 * ctc
    total_deduction = hra_deduction + da_deduction + pf_deduction
    

    taxable_income = ctc - total_deduction
    
    if ctc <= 5:
        tax_percentage = 0
    elif ctc <= 10:
        tax_percentage = 0.1
    elif ctc <= 20:
        tax_percentage = 0.2
    else:
        tax_percentage = 0.3
    
    tax_deduction = tax_percentage * taxable_income
    
    
    annual_salary_after_tax = taxable_income - tax_deduction
    monthly_salary_after_tax = annual_salary_after_tax / 12
    
    return monthly_salary_after_tax

ctc = float(input("Enter your annual CTC (in Lakhs): "))
monthly_salary = calculate_monthly_salary(ctc)

print(f"Your monthly salary after deductions is: {monthly_salary:.2f} Lakhs")

Enter your annual CTC (in Lakhs):  210

Your monthly salary after deductions is: 10.04 Lakhs

In [3]:
#Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

s1 = int(input("Enter the Triangle Side-1 :"))
s2 = int(input("Enter the Triangle Side-2 :"))
s3 = int(input("Enter the Triangle Side-3 :"))
sum = s1+s2+s3
if(sum==180):
	print("Triangle Valid..")
else:
	print("Triangle Not Valid..")

Enter the Triangle Side-1 : 20
Enter the Triangle Side-2 : 40
Enter the Triangle Side-3 : 100

Triangle Not Valid..

In [5]:
#Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

cp=float(input("Enter the cost Price of an Item :"))
sp=float(input("Enter the Selling Price of an Item :"))
if(sp > cp):
    profit = sp - cp
    print("Profit :",profit)
elif( cp> sp):
	loss = cp - sp
	print("Loss :",loss)
else:
	print("No Profit No Loss")

Enter the cost Price of an Item : 20
Enter the Selling Price of an Item : 10

Loss : 10.0

In [6]:
"""Problem 4: Write a menu-driven program -
cm to ft
km to miles
USD to INR
exit"""


menu=int(input("Enter e number"))

if menu==1:
    cm=float(input("enter the your cm value"))
    print("ft value is", 0.03280*cm)

elif menu==2: 
    km=eval(input("enter your km value")) 
    print("mile value is ",0.62 *km)

elif menu==3:

    usd=eval(input("enter your usd value")) 
    print("INR value is ",83.35*usd)

else:

    print("invalid input")

Enter e number 1
enter the your cm value 20

ft value is 0.656

In [7]:
#Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.


def fibonacci_series(n):
    
    fib_series = [0, 1]

    
    for i in range(2, n):
        next_term = fib_series[-1] + fib_series[-2]
        fib_series.append(next_term)

    return fib_series


def main():
    n = 10
    fib_series = fibonacci_series(n)

    
    print("Fibonacci Series up to", n, "terms:")
    print(fib_series)


if __name__ == "__main__":
    main()

Fibonacci Series up to 10 terms:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [8]:
#Problem 6 - Find the factorial of a given number.
n=int(input("enter the number"))
fact=1
for i in range(1,n+1):
    fact=fact*i
    print(fact)

enter the number 5

1
2
6
24
120

In [9]:
#Reverse a given integer number.


num = input("Enter the first number:")


reverse = ''
for i in range(len(num), 0, -1):
   reverse += num[i-1]


print('The reverse number is =', reverse)

Enter the first number: 201

The reverse number is = 102

In [10]:
"""Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum
is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem."""



N = int(input("Enter a number: "))

sum = 0
i = 1

while i <= N:
  if i % 5 == 0:
    i += 1
    continue
   
  sum += i
   
  if sum > 300:
    break
   
  i += 1

print("Final result:", sum)

Enter a number:  5

Final result: 10

In [14]:
"""#Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers."""

'#Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.'

In [19]:
"""Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). 
The numbers obtained should be printed in a comma-separated sequence on a single line."""


for i in range(2000,3201):

    if i%7==0 and i%5!=0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

In [22]:
""" Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. 
The numbers obtained should be printed in a space-separated sequence on a single line."""


items = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0]) % 2 == 0) and (int(s[1]) % 2 == 0) and (int(s[2]) % 2 == 0):
            items.append(s)
print(",".join(items))

2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2040,2041,2042,2043,2044,2045,2046,2047,2048,2049,2060,2061,2062,2063,2064,2065,2066,2067,2068,2069,2080,2081,2082,2083,2084,2085,2086,2087,2088,2089,2200,2201,2202,2203,2204,2205,2206,2207,2208,2209,2220,2221,2222,2223,2224,2225,2226,2227,2228,2229,2240,2241,2242,2243,2244,2245,2246,2247,2248,2249,2260,2261,2262,2263,2264,2265,2266,2267,2268,2269,2280,2281,2282,2283,2284,2285,2286,2287,2288,2289,2400,2401,2402,2403,2404,2405,2406,2407,2408,2409,2420,2421,2422,2423,2424,2425,2426,2427,2428,2429,2440,2441,2442,2443,2444,2445,2446,2447,2448,2449,2460,2461,2462,2463,2464,2465,2466,2467,2468,2469,2480,2481,2482,2483,2484,2485,2486,2487,2488,2489,2600,2601,2602,2603,2604,2605,2606,2607,2608,2609,2620,2621,2622,2623,2624,2625,2626,2627,2628,2629,2640,2641,2642,2643,2644,2645,2646,2647,2648,2649,2660,2661,2662,2663,2664,2665,2666,2667,2668,2669,2680,2681,2682,2683,2684,2685,2686,2687,2688,2689,2800,2801,2802,2803,2804,2805,2806,2807,2808,2809,2820,2821,2822,2823,2824,2825,2826,2827,2828,2829,2840,2841,2842,2843,2844,2845,2846,2847,2848,2849,2860,2861,2862,2863,2864,2865,2866,2867,2868,2869,2880,2881,2882,2883,2884,2885,2886,2887,2888,2889